.wrapper {
  margin: 0 0 20px 0;
}

.header_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.btn_del {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.title {
  font-size: 20px;
}

.image {
  margin: 10px 0;
}

.description {
  width: 300px;
  font-size: 12px;
}
